name: Linux Platform Build

on: [pull_request]

jobs:
    linux-build:
        name: "Linux-Build"
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v4

            # - name: Install LLVM
            #   run: wget https://apt.llvm.org/llvm.sh && chmod +x llvm.sh && sudo ./llvm.sh

            - name: Install LLVM's C++ Standard Library
              run: sudo apt-get install libc++-20-dev libc++abi-20-dev

            - name: Installing pipx
              run: sudo apt install pipx

            - name: Installing Prerequisites for Linux
              run: |
                  sudo apt-get update
                  sudo apt install software-properties-common -y
                  sudo add-apt-repository ppa:deadsnakes/ppa

            - name: Install Vulkan SDK
              uses: humbletim/setup-vulkan-sdk@v1.2.1
              with:
                vulkan-query-version: 1.4.304.1
                vulkan-components: Vulkan-Headers, Vulkan-Loader
                vulkan-use-cache: true

            - name: Installing Conan
              run: pipx install "conan>=2.18.1"

            - name: Setting up Conan Profiles
              run: conan config install -sf profiles/x86_64/linux/ -tf profiles https://github.com/engine3d-dev/conan-config.git

            - name: Setting up Conan
              run: |
                conan config install https://github.com/engine3d-dev/conan-config.git
                conan atlas setup

            - name: Creating Release build for vulkan-cpp
              # run: conan create . -b missing -s build_type=Release -pr linux_x86_64 -c tools.system.package_manager:sudo=True -c tools.system.package_manager:mode=install
              run: conan atlas create . -s build_type=Release
            
            - name: Creating Debug build for vulkan-cpp
              # run: conan create . -b missing -s build_type=Debug -pr linux_x86_64 -c tools.system.package_manager:sudo=True -c tools.system.package_manager:mode=install
              run: conan atlas create . -s build_type=Debug
            
            - name: Creating MinSizeRel build for vulkan-cpp
              # run: conan create . -b missing -s build_type=MinSizeRel -pr linux_x86_64 -c tools.system.package_manager:sudo=True -c tools.system.package_manager:mode=install
              run: conan atlas create . -s build_type=MinSizeRel

