name: Windows Platform Build

# on: [pull_request, workflow_dispatch]
on:
  pull_request:
    paths-ignore:
        - 'README.md'
        - '.github'

jobs:
  windows-build:
      name: "Windows-Build"
      runs-on: windows-latest
      steps:
          - uses: actions/checkout@v4
          
          - name: Installing Choco
            shell: pwsh
            run: Set-ExecutionPolicy Bypass -Scope Process -Force; [System.Net.ServicePointManager]::SecurityProtocol = [System.Net.ServicePointManager]::SecurityProtocol -bor 3072; iex ((New-Object System.Net.WebClient).DownloadString('https://community.chocolatey.org/install.ps1'))

          - name: Installing Git
            shell: pwsh
            run: choco install git

          - name: Install Vulkan SDK
            uses: humbletim/setup-vulkan-sdk@v1.2.1
            with:
              vulkan-query-version: 1.4.304.1
              vulkan-components: Vulkan-Headers, Vulkan-Loader
              vulkan-use-cache: true
          
          - name: Pip installing conan
            shell: pwsh
            run: pip install conan
          
          - name: Setting up Conan configuration
            shell: pwsh
            run: |
              conan config install https://github.com/engine3d-dev/conan-config.git
              conan atlas setup
          
          - name: Creating Release build for vulkan-cpp
            shell: pwsh
            run: conan atlas create . -s build_type=Release
          
          - name: Creating Debug build for vulkan-cpp
            shell: pwsh
            run: conan atlas create . -s build_type=Debug

          - name: Creating MinSizeRel build for vulkan-cpp
            shell: pwsh
            run: conan atlas create . -s build_type=MinSizeRel